@import url(https://fonts.googleapis.com/css?family=Open+Sans);


*{
	font-family: 'Open Sans', sans-serif;
}

html { 
	height: 100%;
}

body { 
	height: 100%; margin: 0; padding: 0;
}

.btn {
	border: 2px solid rgb(167, 152, 152);
	border-radius: 0px;
}

.titre {
	text-shadow: 3px 3px rgb(21, 19, 19);
}

.jumbotron {
	color: white;
	background: url('../images/bg_annuaire.jpg');
	background-size: 100%;
	height: 30%;
}

.label-rechercher {
	color: white;
	font-size: 1.5em;
	text-shadow: 3px 3px rgb(21, 19, 19);
}

.titre-activite-affiche {
	margin-left: 5%;
	margin-bottom: 2%;
}

#map { 
/* 	width: 800px;
	height: 480px; */
	margin: auto;
	width: 90%;
	height: 100%;
	border: solid 1px black;
  }

 .select {
 	width: 100%;
 	border: 1px solid rgb(167, 152, 152);
	border-radius: 0px;
 }

 .titre {
 	text-align: center;
 }
